*{
        background: var(--Dark-white, #FAFAFA);
}
.section_header_logo {
    display: flex;
    width: 360px;
    float: left;
    padding-top: 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* background-color: red; */
}

.section_header {
    width: 935px;
    height: 36px;
    padding-top: 9px;
    padding-bottom: 8px;
    margin: 0 auto;
    /* background-color: aqua; */
    background: var(--Dark-white, #FAFAFA);
}

.section_header_empty {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 397px;
    float: left;
    align-self: stretch;
    /* background-color: blue; */
}

.section_header_nav {
    display: flex;
    float: left;
    width: 154px;
    padding-left: 24px;
    align-items: flex-start;
    /* background-color: green; */
    justify-content: space-between;
    height: 22px;
    padding-top: 7px;
    padding-bottom: 7px;
}